---
import DarkModeToggle from "./DarkModeToggle.astro";
import HeaderLink from "./HeaderLink.astro";
---

<header class="">
  <ul class="unset flex flex-col text-text-bold gap-4 [&>li]:p-0 px-6">
    <li><HeaderLink href="/">Home</HeaderLink></li>
  </ul>
  <div
    class="justify-self-end py-2 flex items-center content-center text-text-bold"
  >
    <a
      class="unset header-links ml-4 rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow"
      href="https://github.com/Viijay-Kr"
      title="Github"
      target="__blank"
    >
      <i class="fa-brands fa-github" aria-hidden="true" title="Vijay on Github"
      ></i>
      <span>GitHub</span>
    </a>
    <a
      class="unset header-links ml-4 rounded-sm transition-[background-size] duration-150 bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-blue to-primary-blue dark:bg-none dark:hover:text-primary-blue"
      href="https://twitter.com/reactporiyalar"
      title="Github"
      target="__blank"
    >
      <i
        class="fa-brands fa-twitter"
        aria-hidden="true"
        title="Vijay on Twitter"></i>
      <span>Twitter</span>
    </a>
  </div>
  <DarkModeToggle />
</header>

<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(
        0,
        max-content
      );
  }
</style>

<script>
  const links = document.querySelectorAll(".header-links");
  links.forEach((el) => {
    const title = el.getAttribute("title") ?? "";
    const href = el.getAttribute("href") ?? "";
    el.addEventListener("click", () => {
      window.Insights.track({
        type: "click",
        meta: {
          title,
          value: href,
          source: "header",
        },
      });
    });
  });
</script>
